.blocks-services {
  .card {
    padding: 20px;
    border-radius: 10px;
  }

  .card__exit,
  .card__icon {
    position: relative;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
  }

  .text {
    color: white;
    text-align: center;
  }

  .card__exit {
    grid-row: 1/2;
    justify-self: end;
  }

  .card__icon {
    grid-row: 2/3;
    width: 70px;
    height: 70px;
    margin: 0 auto;
  }

  .card__title {
    grid-row: 3/4;
    font-weight: 400;
    color: #ffffff;
  }

  .card__apply {
    grid-row: 4/5;
    align-self: center;
  }

  .card-5 {
    background: #0092e4;
  }

  @media (max-width: 1600px) {
    .cards {
      justify-content: center;
    }
  }
}

@media screen and (max-width: 991px) {
  .blocks-services {
    margin-top: 30px;
  }
}
